.loginContainer {
  height: 35%;
  width: 30%;
  border-radius: 15px;
  position: absolute;
  left: 40.5vw;
  top: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: 5;
  animation: appear 1s ease-in-out;
  backdrop-filter: blur(20px);
  background-clip: padding-box;
  box-shadow: 5px 0px 5px rgba(77, 77, 77, 0.692);
  z-index: 9999;
}

.loginContainer span {
  color: rgb(255, 255, 255);
  font-size: 3vh;
  box-sizing: border-box;
  margin-bottom: 2vh;
}

.loginContainer input {
  all: unset;
  height: 5vh;
  background-color: white;
  width: 50%;
  border-radius: 15px;
  margin-bottom: 5px;
  align-self: center;
  color: black;
}
.loginContainer p a {
  text-decoration: underline;
}

.loginControllersContainer button {
  all: unset;
  height: 5vh;
  width: 10vh;
  background-color: rgb(255, 255, 255);
  margin-top: 2vh;
  border-radius: 5px;
  color: black;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.loginControllersContainer button:hover {
  background-color: rgba(0, 162, 255, 0.438);
  color: white;
}
.errorRef {
  font-size: 12px;
  align-self: center;
  transition: all 1s ease-in-out;
  color: grey;
}

@media screen and (max-width: 992px) {
	.loginContainer{
	  width: 80%;
	  left: 10%;;
	}
  }